<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IdentityServer8</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IdentityServer8.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header__container">
                <img src="~/img/sr-logo.png" alt="" width="244" height="40">
        </div>
    </header>
    <main class="page">
        <section class="left">
            <div class="left__container">
                <div class="left__container__foto">
                        <img  src="~/img/login.png" alt="" width="468" height="469">
                </div>
             </div>
        </section>
        <section class="right">
            <div class="right__container">
                @RenderBody()
            </div>
        </section>
    </main>
    

    <footer class="footer"> 
        <div class="footer__container">
            <a class="footer__terms" href="">Terms and conditions</a>
            <a class="footer__privacy" href="">Privacy policy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

