@model IdentityServer8.Models.ModelViewModels.ResetPasswordViewModel
<section class="reset">
    <div class="reset__container">
  <h2 class="reset__title">Reset your password</h2>
  <p class="reset__text"> Type in your new password</p>

<form asp-action="CreatePassword" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="Username" />
<div class="reset__form">
    <div class="reset__form__newpas">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" placeholder="New password *" />
    </div>
     <div  class="reset__form__retpas">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" placeholder="Retry new password *"/>
    </div>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
<div class="reset__button">
<button class="reset__button__re" type="submit">RESET</button>
     <button class="reset__button__ba" type="submit">BACK TO LOGIN</button>
</div>
    
</form>
    </div>

</section>

