@model IdentityServer8.Models.ModelViewModels.EmailValidationViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Email Validation";
}

<div class="email__container">
    <form asp-action="EmailValidation" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2 class="email__title">Enter your email</h2>
        <p class="email__text">
            Type in your registered email address to reset your password.
        </p>

        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" placeholder="Email Address *" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="email__but">
            <button type="submit" class="btn btn-primary email__but__next">Next</button>
            <a class="btn btn-link register__backLogin"
               asp-action="Login"
               asp-route-returnUrl="@Model.ReturnUrl">
                Back to login
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}