@using IdentityServer8.Extensions

@model IdentityServer8.Models.ModelViewModels.LoginViewModel

@{
    var returnUrl = ViewContext.HttpContext.Request.GetReturnUrl();
}


<div class="right__form">
    <form asp-action="Login" method="post">
        <h2 class="right__titile">Sign in</h2>
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="right__form__email">
            <label asp-for="Username">Email</label >
            <input asp-for="Username" placeholder="Email Address *" />
        </div>
        <div class="right__form__pas">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password"  placeholder="Password *"/>
        </div>
        <div class="right__form__but">
            <button type="submit">Login</button>
            <button><a class="main-link" asp-action="EmailValidation" asp-route-ReturnUrl="@returnUrl">Forgot password</a></button>
        </div>
        <button><a class="main-link" asp-action="Register" asp-route-ReturnUrl="@returnUrl">CREATE NEW ACCOUNT</a></button>
    </form>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}



