@using IdentityServer8.Extensions
@model IdentityServer8.Models.ModelViewModels.RegisterViewModel

@{
    var returnUrl = ViewContext.HttpContext.Request.GetReturnUrl();
}


<div class="container__register">
    <form asp-action="Register" method="post">
    <h2 class="register__title">Sign up to socialRepeat</h2>
    <div class="register__name">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="register__name__fn">
            <label asp-for="FirstName">First name</label>
            <input asp-for="FirstName" placeholder="First name" />
        </div>
        <div class="register__name__ln">
            <label asp-for="LastName">Last nname</label>
            <input asp-for="LastName" placeholder="Last name" />
        </div>
    </div>
    <div>
        <label asp-for="Username">Email</label>
        <input asp-for="Username"  />
    </div>
    <div class="register__pas">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" />
    </div>
    <button class="register__signup" type="submit">Create new account</button>
    <button><a class="register__backLogin" asp-action="Login" asp-route-ReturnUrl="@returnUrl">Back to login</a></button>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
    </form>
</div>


